---
import AstromLogo from '../assets/logo-01.svg';
import CicioLogo from '../assets/logo-02.svg';
import WeavyLogo from '../assets/logo-03.svg';
import VroketsLogo from '../assets/logo-04.svg';
import ViewioLogo from '../assets/logo-05.svg';
import MetabluLogo from '../assets/logo-06.svg';
import BuildaaLogo from '../assets/logo-07.svg';
import HapiLogo from '../assets/logo-08.svg';
import LogoipsumLogo from '../assets/logo-09.svg';
import VirtuoLogo from '../assets/logo-10.svg';
---

<section class="px-5 py-[48px] lg:py-[80px] flex flex-col items-center gap-8 lg:gap-20">
  <h2 class="text-[32px] md:text-[56px] leading-tight font-bold">Nuestros mejores socios</h2>
  <div class="flex gap-4 lg:gap-20 overflow-x-scroll">
    <img src={AstromLogo.src} alt="logo astrom">
    <img src={CicioLogo.src} alt="logo cicio">
    <img src={WeavyLogo.src} alt="logo weavy">
    <img src={VroketsLogo.src} alt="logo vrokets">
    <img src={ViewioLogo.src} alt="logo viewio">
  </div>
  <div class="flex gap-4 lg:gap-20 overflow-x-scroll">
    <img src={MetabluLogo.src} alt="logo metablu">
    <img src={BuildaaLogo.src} alt="logo buildaa">
    <img src={HapiLogo.src} alt="logo hapi">
    <img src={LogoipsumLogo.src} alt="logo ipsum">
    <img src={VirtuoLogo.src} alt="logo virtuo">
  </div>
</section>